version: "3.1"

volumes:
  pg_data:
  minio_data:
  mongo_storage:

services:
  pg:
    image: postgres:14-alpine
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PORT: ${POSTGRES_PORT}
    command:
      - -c
      - listen_addresses=*
      - -c
      - wal_level=logical
    ports:
      - ${POSTGRES_PORT}:5432
    restart: always
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./db/init/:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  mongo:
    image: mongo:7.0
    command: --replSet rs0 --bind_ip_all --quiet
    restart: unless-stopped
    ports:
      - 27017:27017
    volumes:
      - mongo_storage:/data/db

  mongo-rs-init:
    image: mongo:7.0
    depends_on:
      - mongo
    restart: on-failure
    entrypoint:
      - bash
      - -c
      - 'mongosh --host mongo:27017 --eval ''try{rs.status().ok && quit(0)} catch {} rs.initiate({_id: "rs0", version:
        1, members: [{ _id: 0, host : "mongo:27017" }]})'''

  powersync:
    restart: unless-stopped
    depends_on:
      mongo-rs-init:
        condition: service_completed_successfully
      pg:
        condition: service_healthy
    image: journeyapps/powersync-service:latest
    command: ["start", "-r", "unified"]
    volumes:
      - ./powersync-config.yaml:/config/config.yaml
    environment:
      POWERSYNC_CONFIG_PATH: /config/config.yaml
      PS_DATABASE_URL: ${PS_DATABASE_URL}
      PS_JWT_SECRET: ${JWT_SECRET}
      PS_PORT: ${POWERSYNC_PORT:-3003}
    ports:
      - ${POWERSYNC_PORT:-3003}:8080

  adminer:
    image: adminer
    restart: always
    ports:
      - "${ADMINER_PORT:-8081}:8080"

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    command: server --console-address ":9001" /data

  minio-console:
    image: opens3/console:latest
    environment:
      CONSOLE_MINIO_SERVER: "http://minio:9000"
      CONSOLE_PBKDF_PASSPHRASE: ${MINIO_PASSPHRASE}
      CONSOLE_PBKDF_SALT: ${MINIO_SALT}
    ports:
      - "9090:9090"

  keycloak:
    image: quay.io/keycloak/keycloak:26.3.5
    container_name: keycloak
    command: "start-dev"
    volumes:
      - ./keycloak-theme.jar:/opt/keycloak/providers/theme.jar
    environment:
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: ${KEYCLOAK_PORT:-8080}
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HOSTNAME_STRICT_BACKCHANNEL: false
      KC_HTTP_ENABLED: true
      KC_LOG_LEVEL: info
      KC_METRICS_ENABLED: true
      KC_HEALTH_ENABLED: true
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://pg:5432/${KEYCLOAK_DB}
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}

      DSFR_THEME_HOME_URL: ${DSFR_THEME_HOME_URL}
      DSFR_THEME_SERVICE_TITLE: ${DSFR_THEME_SERVICE_TITLE}
      DSFR_THEME_BRAND_TOP: ${DSFR_THEME_BRAND_TOP}
    ports:
      - ${KEYCLOAK_PORT:-8080}:8080
    depends_on:
      - pg
