replication:
  connections:
    - type: postgresql
      uri: !env PS_DATABASE_URL

      # SSL settings
      sslmode: disable # 'verify-full' (default) or 'verify-ca' or 'disable'

# Connection settings for sync bucket storage
storage:
  type: mongodb
  uri: mongodb://mongo:27017/powersync_demo

# The port which the PowerSync API server will listen on
port: !env PS_PORT

# Specify sync rules
sync_rules:
  # TODO use specific sync rules here
  content: |
    bucket_definitions:
      global_bucket:
        data:
          - SELECT * FROM clause_v2 WHERE service_id = 'ALL'
          - SELECT * FROM pictures
          - SELECT * FROM picture_lines

      service_bucket:
        parameters: SELECT service_id FROM "user" WHERE id = request.user_id()
        data: 
          - SELECT * FROM report WHERE service_id = bucket.service_id
          - SELECT * FROM service WHERE id = bucket.service_id
          - SELECT id, name, service_id FROM "user" WHERE service_id = bucket.service_id
          - SELECT * FROM service_instructeurs WHERE service_id = bucket.service_id
          - SELECT * FROM clause_v2 WHERE service_id = bucket.service_id
          - SELECT * FROM sent_email WHERE service_id = bucket.service_id
          - SELECT * FROM suggested_email WHERE service_id = bucket.service_id
          - SELECT * FROM state_report WHERE service_id = bucket.service_id
          - SELECT * FROM visited_section WHERE service_id = bucket.service_id


      dept_bucket:
        parameters: SELECT dept_number FROM "user_dept" WHERE user_id = request.user_id()
        data:
          - SELECT * FROM pop_immeubles WHERE departement_format_numerique = bucket.dept_number
      
      user_bucket:
        parameters: SELECT request.user_id() as user_id
        data:
          - SELECT * FROM delegation WHERE "createdBy" = bucket.user_id OR "delegatedTo" = bucket.user_id
          - SELECT * FROM pdf_snapshot WHERE user_id = bucket.user_id
          - SELECT * FROM user_settings WHERE user_id = bucket.user_id

# Settings for client authentication
client_auth:
  jwks_uri: http://keycloak:8080/realms/master/protocol/openid-connect/certs
  issuer: "http://keycloak:8080/realms/master"
  audience: ["account"]

  # Settings for telemetry reporting
  # See https://docs.powersync.com/self-hosting/telemetry
  telemetry:
    # Opt out of reporting anonymized usage metrics to PowerSync telemetry service
    disable_telemetry_sharing: false
